#big-height{
    min-height: 210vh;
}
section{
    height: 70vh;
}
.red{
    background-color: tomato;
}
.green{
    background-color: darkseagreen;
}
.blue{
    background-color: darkcyan;
}

/*back-to-top button*/
.back-to-top{
    width: 1em;
    height:1em;
    position: fixed;
    right:1em;
    bottom: 1em;
    z-index: 25;

}